extends layout

block content
  #lammy
    h1 success!
    p thank you for filling all that out!  if you need to edit something, <a href="/user">click here</a> to go back.  if you need to contact me for some reason, here is my <a href="mailto:shirleyxueyangwu@gmail.com">email</a> or my <a href="https://www.facebook.com/shirleyxueyangwu">facebook</a>.  otherwise, stay tuned for email updates (: